# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore Streamlit cache
.streamlit/

# Ignore Jupyter notebook checkpoints (if any)
.ipynb_checkpoints/

# Ignore logs and temporary files
logs/
*.log
